<!-- prettier-ignore -->
{% extends 'base.html' %} 
{% load static %} 
{% block meta %}
<title>Hello, prize!</title>
<!-- prettier-ignore -->
{% endblock meta %} 
{% block content %}
{% include 'userNavbar.html' %}
<div>
  <!-- bikin konten disini -->
  <div class="p-5 flex space-x-4 justify-between w-full">
    <p class="text-4xl">Redeemed Prize</p>
  </div>
  <div
    class="px-5 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 place-items-center gap-5"
  >
    <div
      class="card w-full md:w-80 lg:w-96 bg-[#A7CBD9] hover:bg-[#A7CBD9] text-black glass"
    >
      <div class="card-body">
        <h2 class="card-title">Nama</h2>
        <p class="">Saldo</p>
      </div>
    </div>
    <div
      class="card w-full md:w-80 lg:w-96 bg-[#A7CBD9] hover:bg-[#A7CBD9] text-black glass"
    >
      <div class="card-body">
        <h2 class="card-title">Nama</h2>
        <p class="">Saldo</p>
      </div>
    </div>
    <div
      class="card w-full md:w-80 lg:w-96 bg-[#A7CBD9] hover:bg-[#A7CBD9] text-black glass"
    >
      <div class="card-body">
        <h2 class="card-title">Nama</h2>
        <p class="">Saldo</p>
      </div>
    </div>
    <div
      class="card w-full md:w-80 lg:w-96 bg-[#A7CBD9] hover:bg-[#A7CBD9] text-black glass"
    >
      <div class="card-body">
        <h2 class="card-title">Nama</h2>
        <p class="">Saldo</p>
      </div>
    </div>
    <div
      class="card w-full md:w-80 lg:w-96 bg-[#A7CBD9] hover:bg-[#A7CBD9] text-black glass"
    >
      <div class="card-body">
        <h2 class="card-title">Nama</h2>
        <p class="">Saldo</p>
      </div>
    </div>
  </div>
  <div class="p-5 flex space-x-4 justify-between w-full">
    <p class="text-4xl">Prize List</p>
  </div>
  <div>
    <div
      class="px-5 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 place-items-center gap-5 pb-32 md:pb-5"
    >
      <div
        class="card w-full md:w-80 lg:w-96 bg-[#A7CBD9] hover:bg-[#A7CBD9] text-black glass"
      >
        <div class="card-body">
          <h2 class="card-title">Nama</h2>
          <p class="">Stok</p>
          <p class="">Saldo</p>
          <div class="card-actions justify-end">
            <button class="btn btn-accent">Redeem</button>
          </div>
        </div>
      </div>
      <div
        class="card w-full md:w-80 lg:w-96 bg-[#A7CBD9] hover:bg-[#A7CBD9] text-black glass"
      >
        <div class="card-body">
          <h2 class="card-title">Nama</h2>
          <p class="">Stok</p>
          <p class="">Saldo</p>
          <div class="card-actions justify-end">
            <button class="btn btn-accent">Redeem</button>
          </div>
        </div>
      </div>
      <div
        class="card w-full md:w-80 lg:w-96 bg-[#A7CBD9] hover:bg-[#A7CBD9] text-black glass"
      >
        <div class="card-body">
          <h2 class="card-title">Nama</h2>
          <p class="">Stok</p>
          <p class="">Saldo</p>
          <div class="card-actions justify-end">
            <button class="btn btn-accent">Redeem</button>
          </div>
        </div>
      </div>
      <div
        class="card w-full md:w-80 lg:w-96 bg-[#A7CBD9] hover:bg-[#A7CBD9] text-black glass"
      >
        <div class="card-body">
          <h2 class="card-title">Nama</h2>
          <p class="">Stok</p>
          <p class="">Saldo</p>
          <div class="card-actions justify-end">
            <button class="btn btn-accent">Redeem</button>
          </div>
        </div>
      </div>
      <div
        class="card w-full md:w-80 lg:w-96 bg-[#A7CBD9] hover:bg-[#A7CBD9] text-black glass"
      >
        <div class="card-body">
          <h2 class="card-title">Nama</h2>
          <p class="">Stok</p>
          <p class="">Saldo</p>
          <div class="card-actions justify-end">
            <button class="btn btn-accent">Redeem</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- akhir konten -->
</div>
<!-- prettier-ignore -->
{% include 'prizeBottomNav.html' %} 
{% endblock content %}
