<!-- prettier-ignore -->
{% extends 'base.html' %} 
{% load static %} 
{% block meta %}
<title>Hadiah - TrashSure</title>
<script src="{% static 'js/index_prize.js' %}"></script>
<!-- prettier-ignore -->
{% endblock meta %} 
{% block content %}
{% include 'userNavbar.html' %}
<div>
  <!-- bikin konten disini -->
  <div>
    <a type="button" href="{% url 'prize:index_redeem' %}" style="padding-left: 30px; padding-top: 30px;">
      <button
      for="my-modal-4"
      class="btn bg-[#0B8297] glass hover:bg-[#F0F1AB] text-black"
      >
        <label
          for="my-modal-4"
          class="w-full h-full flex items-center justify-center cursor-pointer"
          >Your Prize</label
        >
      </button>
    </a>
  </div>
  <div>
    <p class="text-4xl text-center" style="padding-bottom: 30px;">Prize List</p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="px-5 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 place-items-center gap-5 pb-32 md:pb-5" id="prizes"></div>
      </div>
    </div>
  </div>
  <!-- akhir konten -->
</div>
<!-- prettier-ignore -->
{% include 'prizeBottomNav.html' %} 
{% endblock content %}
