<!-- prettier-ignore -->
{% extends 'base.html' %} 
{% load static %} 
{% block meta %}
<title>Hello, prize!</title>
<!-- prettier-ignore -->
{% endblock meta %} 
{% block content %}
{% include 'userNavbar.html' %}
<div>
  <!-- bikin konten disini -->
  <div class="p-5 flex space-x-4 justify-between w-full">
    <p class="text-4xl">Redeemed Prize</p>
  </div>
  <div class="p-5 flex space-x-4 justify-between w-full">
    <p class="text-4xl">Prize List</p>
  </div>
  <!-- akhir konten -->
</div>
<!-- prettier-ignore -->
{% include 'prizeBottomNav.html' %} 
{% endblock content %}
