<!-- prettier-ignore -->
{% extends 'base.html' %} 
{% load static %} 
{% block meta %}
<title>Hello, Landing!</title>
<!-- prettier-ignore -->
{% endblock meta %} 
{% block content %}
{% if isLogin %}
{% include 'userNavbar.html' %}
{% else %}
{% include 'navbar.html' %}
{% endif %}
{% include 'loginModal.html' %}
<div class="min-h-screen">
  <!-- bikin content disini -->
  <div
    class="hero min-h-screen"
    style="background-image: url(../../static/Garbagehope.jpg)"
  >
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold">Hello there</h1>
        <p class="mb-5">
          Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
          excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a
          id nisi.
        </p>
        <button class="btn btn-primary">Get Started</button>
      </div>
    </div>
  </div>
  <!-- akhir content -->
</div>
<!-- prettier-ignore -->
{% if isLogin %}
{% include 'landingBottomNav.html' %}
{% endif %}
{% endblock content %}
