<!-- prettier-ignore -->
{% extends 'base.html' %} 
{% load static %} 
{% block meta %}
<title>Hello, Landing!</title>
<!-- prettier-ignore -->
{% endblock meta %} 
{% block content %}
{% if isLogin %}
{% include 'userNavbar.html' %}
{% else %}
{% include 'navbar.html' %}
{% endif %}
{% include 'loginModal.html' %}
<div class="min-h-screen">
  <!-- bikin content disini -->
  <h1 class="text-cyan-500 text-4xl">Hello, Landing!</h1>
  <h3>This is example app for Django template</h3>
  <p>{{role}}</p>
  <!-- akhir content -->
</div>
<!-- prettier-ignore -->
{% if isLogin %}
{% include 'landingBottomNav.html' %}
{% endif %}
{% endblock content %}
