<!-- prettier-ignore -->
{% extends 'base.html' %} 
{% load static %} 
{% block meta %}
<title>Hello, Deposit!</title>
<!-- prettier-ignore -->
{% endblock meta %} 
{% block content %}
{% include 'userNavbar.html' %}
<div>
  <!-- bikin konten disini -->
  <div
    class="p-5 flex space-x-4 md:justify-between w-full flex-col md:flex-row space-y-2 items-center justify-center"
  >
    <p class="text-4xl text-center">Deposit History</p>
    <button
      class="btn btn-wide bg-[#F0F1AB] glass hover:bg-[#F0F1AB] text-black"
    >
      Add
    </button>
  </div>
  <div
    class="px-5 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 place-items-center gap-5 pb-32 md:pb-5"
  >
    <div
      class="card w-full md:w-80 lg:w-96 bg-[#B6C790] hover:bg-[#B6C790] text-black glass"
    >
      <div class="card-body">
        <h2 class="card-title">Tanggal</h2>
        <div class="flex w-fit gap-3">
          <p class="font-bold w-fit">Jenis</p>
          <p class="font-bold w-fit">Berat Sampah</p>
        </div>
        <p class="font-bold">Poin</p>
        <p class="font-bold">Saldo</p>
        <p class="font-bold">Status</p>
      </div>
    </div>
    <div
      class="card w-full md:w-80 lg:w-96 bg-[#B6C790] hover:bg-[#B6C790] text-black glass"
    >
      <div class="card-body">
        <h2 class="card-title">Tanggal</h2>
        <div class="flex w-fit gap-3">
          <p class="font-bold w-fit">Jenis</p>
          <p class="font-bold w-fit">Berat Sampah</p>
        </div>
        <p class="font-bold">Poin</p>
        <p class="font-bold">Saldo</p>
        <p class="font-bold">Status</p>
      </div>
    </div>
    <div
      class="card w-full md:w-80 lg:w-96 bg-[#B6C790] hover:bg-[#B6C790] text-black glass"
    >
      <div class="card-body">
        <h2 class="card-title">Tanggal</h2>
        <div class="flex w-fit gap-3">
          <p class="font-bold w-fit">Jenis</p>
          <p class="font-bold w-fit">Berat Sampah</p>
        </div>
        <p class="font-bold">Poin</p>
        <p class="font-bold">Saldo</p>
        <p class="font-bold">Status</p>
      </div>
    </div>
    <div
      class="card w-full md:w-80 lg:w-96 bg-[#B6C790] hover:bg-[#B6C790] text-black glass"
    >
      <div class="card-body">
        <h2 class="card-title">Tanggal</h2>
        <div class="flex w-fit gap-3">
          <p class="font-bold w-fit">Jenis</p>
          <p class="font-bold w-fit">Berat Sampah</p>
        </div>
        <p class="font-bold">Poin</p>
        <p class="font-bold">Saldo</p>
        <p class="font-bold">Status</p>
      </div>
    </div>
    <div
      class="card w-full md:w-80 lg:w-96 bg-[#B6C790] hover:bg-[#B6C790] text-black glass"
    >
      <div class="card-body">
        <h2 class="card-title">Tanggal</h2>
        <div class="flex w-fit gap-3">
          <p class="font-bold w-fit">Jenis</p>
          <p class="font-bold w-fit">Berat Sampah</p>
        </div>
        <p class="font-bold">Poin</p>
        <p class="font-bold">Saldo</p>
        <p class="font-bold">Status</p>
      </div>
    </div>
  </div>
  <!-- akhir konten -->
</div>
<!-- prettier-ignore -->
{% include 'depositBottomNav.html' %} 
{% endblock content %}
