<!-- prettier-ignore -->
{% extends 'base.html' %} 
{% load static %} 
{% block meta %}
<title>Withdraw - TrashSure</title>

<script src="{% static 'js/index_withdraw.js' %}"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- prettier-ignore -->
{% endblock meta %} 
{% block content %}
{% include 'userNavbar.html' %}


<div>
  <!-- bikin konten disini -->
  <div class="container">
    <aside>
      <div class="p-4 sidebar">
        <div class="acc-sumary">
          <!-- <h3 class="material-icons">account_balance_wallet</h3> -->
          <h3>Balance</h3>
          <h2><b>Rp {{balance}}</b><h2>
        </div>
      </div>
    </aside>

    <main>
      <div
        class="p-5 flex space-x-4 md:justify-between w-full flex-col md:flex-row space-y-2 items-center justify-center"
      >
        <h1>Withdraw History</h1>
        <button
          class="btn btn-wide bg-[#F0F1AB] glass hover:bg-[#F0F1AB] text-black"
        >
          <label
            for="my-modal-4"
            class="w-full h-full flex items-center justify-center cursor-pointer"
            >Add</label
          >
        </button>
      </div>

      <input type="checkbox" id="my-modal-4" class="modal-toggle" />
      <label for="my-modal-4" class="modal cursor-pointer">
        <label class="modal-box relative" for="">
          <label for="my-modal-4" class="btn btn-sm btn-circle absolute right-2 top-2"
            >✕</label
          >
          <h3 class="text-lg font-bold">Tarik Saldo</h3>
          <form action="" id="buatproject" for="my-modal-4">
            {% csrf_token %}
            <div class="form-control w-full my-5">
              <label class="label">
                <span class="label-text">Jumlah Penarikan</span>
              </label>
              {{ form.jumlah }}
            </div>
            <div class="w-full flex justify-end">
              <button
                class="btn btn-active btn-primary modal-action"
                type="submit"
                id="button"
              >
                <label
                  for="my-modal-4"
                  class="w-full h-full flex items-center justify-center cursor-pointer"
                  >Submit</label
                >
              </button>
            </div>
          </form>
        </label>
      </label>

      <div class="wd-history">
        <table id="parent">
          <thead>
            <tr>
              <th>Date</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody id="child">
            <tr>
              
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
  <!-- akhir konten -->
</div>

<!-- prettier-ignore -->
<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

  :root {
      --color-primary: #7380ec;
      --color-danger: #ff7782;
      --color-success: #41f1b6;
      --color-warning: #ffbb55;
      --color-white: #ffffff;
      --color-info-dark: #7d8da1;
      --color-info-light: #dce1eb;
      --color-dark: #363949;
      --color-light: rgba(132,139,200,0.18);
      --color-primary-variant: #111e88;
      --color-dark-variant: #677483;
      --color-background: #f6f6f9;

      --card-border-radius: 2rem;
      --border-radius-1: 0.4rem;
      --border-radius-2: 0.8rem;
      --border-radius-3: 1.2rem;

      --card-padding: 1.8rem;
      --padding-1: 1.2rem;

      --box-shadow: 0 2rem 3rem var(--color-light);
  }

  *{
      margin: 0;
      padding: 0;
      outline: 0;
      appearance: none;
      border: 0;
      text-decoration: none;
      list-style: none;
      box-sizing: border-box;
  }

  html{
      font-size: 14px;
  }

  body{
      width: 100vw;
      height: 100vh;
      font-family: poppins, sans-serif;
      font-size: 0.88rem;
      background: var(--color-background);
      user-select: none;
      overflow-x: hidden;
      color: var(--color-dark);
  }

  .container{
      display: grid;
      width: 96%;
      margin: 0 auto;
      background: var(--color-background);
      gap: 1.8rem;
      grid-template-columns: 1fr 3fr 1fr;
  }

  a{
      color: var(--color-dark);
  }

  img{
      display: block;
      width: 100%;
  }

  h1{
      font-weight: 800;
      font-size: 1.8rem;
  }

  h2{
      font-size: 1.4rem;
  }

  h3{
      font-size: 0.87rem;
  }

  h4{
      font-size: 0.8rem;
  }

  h5{
      font-size: 0.77rem;
  }

  small{
      font-size: 0.75rem;
  }

  .profile-photo{
      width: 2.8rem;
      height: 2.8rem;
      border-radius: 50%;
      overflow: hidden;
  }

  .text-muted{
      color: var(--color-info-dark);
  }

  p{
      color: var(--color-dark-variant)
  }

  b{
      color: var(--color-dark)
  }

  .primary{
      color: var(--color-primary)
  }

  .danger{
      color: var(--color-danger)
  }

  .success{
      color: var(--color-success)
  }

  .warning{
      color: var(--color-warning)
  }

  aside{
      height: 100vh;
      background: var(--color-background);
  }


  /* sidebar */
  aside .sidebar{
      display: flex;
      flex-direction: column;
      height: 86vh;
      position: relative;
      top: 3rem;
      align-content: center;
      align-items: center;
      gap: 1rem;
  }

  aside h3{
      font-weight: 500;
  }

  aside .sidebar > div{
    background: var(--color-white);
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: var(--border-radius-3);
    margin-top: 3rem;
    box-shadow: var(--box-shadow);
  }

  aside .sidebar a{
    display: flex;
    color: var(--color-info-dark);
    margin: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
  }

  aside .sidebar .message-count{
      background: var(--color-danger);
      color: var(--color-white);
      padding: 2px 10px;
      font-size: 11px;
      border-radius: var(--border-radius-1);
  }

  main{
      margin-top: 1.4rem;
  }

  main .wd-history{
      margin-top: 2rem;
  }

  main .wd-history h2{
      margin-bottom: 0.8rem;
  }

  main .wd-history table{
      background: var(--color-white);
      width: 100%;
      border-radius: var(--card-border-radius);
      padding: var(--card-padding);
      text-align: center;
      box-shadow: var(--box-shadow);
      transition: all 300ms ease;
  }

  main .wd-history table:hover{
      box-shadow: none;
  }

  main table tbody td{
      height: 2.8rem;
      border-bottom: 1px solid var(--color-light);
      color: var(--color-dark-variant);
  }

  main table tbody tr:last-child td{
      border: none;
  }

  @media screen and (max-width: 768px) {
    .container {
      width: 100%;
      grid-template-columns: 1fr;
    }

    aside {
      position: fixed;
      left: 0;
      background: var(--color-white);
      width: 18rem;
      z-index: 3;
      box-shadow: 1rem 3rem 4rem var(--color-light);
      height: 100vh;
      padding-right: var(--card-padding);
      display: none;
    }

    aside .sidebar h3{
      display: inline;
    }

    main {
      margin-top: 8rem;
      padding: 0 1rem;
    }

    main .wd-history {
      position: relative;
      margin: 3rem 0 0 0;
      width: 100%;
    }

    main .wd-history table {
      width: 100%;
      margin: 0;
    }
  }
</style>
{% include 'withdrawBottomNav.html' %} 
{% endblock content %}