<!-- prettier-ignore -->
{% extends 'base.html' %} 
{% load static %} 
{% block meta %}
<title>Hello, withdraw!</title>
<!-- prettier-ignore -->
{% endblock meta %} 
{% block content %}
{% include 'userNavbar.html' %}
<div>
  <!-- bikin konten disini -->
  <div class="p-5 flex space-x-4 justify-between w-full">
    <p class="text-4xl">Withdraw History</p>
    <button
      class="btn btn-wide bg-[#F0F1AB] glass hover:bg-[#F0F1AB] text-black"
    >
      Add
    </button>
  </div>
  <!-- akhir konten -->
</div>
<!-- prettier-ignore -->
{% include 'withdrawBottomNav.html' %} 
{% endblock content %}
