<div
  class="card w-full md:w-80 lg:w-96 bg-[#B6C790] hover:bg-[#B6C790] text-black glass"
>
  <div class="card-body">
    <h2 class="card-title">Tanggal</h2>
    <p class="font-bold">user</p>
    <div class="flex w-fit gap-3">
      <p class="font-bold w-fit">Jenis</p>
      <p class="font-bold w-fit">Berat Sampah</p>
    </div>
    <p class="font-bold">Poin</p>
    <p class="font-bold">Saldo</p>
    <div class="card-actions justify-end">
      <button class="btn btn-success btn-circle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M4.5 12.75l6 6 9-13.5"
          />
        </svg>
      </button>
      <button class="btn btn-error btn-circle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
