<!-- prettier-ignore -->
{% extends 'base.html' %} 
{% load static %} 
{% block meta %}
<title>Hello, prize!</title>
<!-- prettier-ignore -->
{% endblock meta %} 
{% block content %}
{% include 'adminNavbar.html' %}
<div>
  <!-- bikin konten disini -->
  <div
    class="p-5 flex space-x-4 md:justify-between w-full flex-col md:flex-row space-y-2 items-center justify-center"
  >
    <p class="text-4xl text-center">Prize List</p>
    <button
      class="btn btn-wide bg-[#F0F1AB] glass hover:bg-[#F0F1AB] text-black"
    >
      Add
    </button>
  </div>
  <div
    class="px-5 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 place-items-center gap-5 pb-32 md:pb-5"
  >
    <div
      class="card w-full md:w-80 lg:w-96 bg-[#A7CBD9] hover:bg-[#A7CBD9] text-black glass"
    >
      <div class="card-body">
        <h2 class="card-title">Nama</h2>
        <p class="">Stok</p>
        <p class="">Deskripsi</p>
        <div class="card-actions justify-end">
          <button class="btn btn-error">Delete</button>
        </div>
      </div>
    </div>
    <div
      class="card w-full md:w-80 lg:w-96 bg-[#A7CBD9] hover:bg-[#A7CBD9] text-black glass"
    >
      <div class="card-body">
        <h2 class="card-title">Nama</h2>
        <p class="">Stok</p>
        <p class="">Deskripsi</p>
        <div class="card-actions justify-end">
          <button class="btn btn-error">Delete</button>
        </div>
      </div>
    </div>
    <div
      class="card w-full md:w-80 lg:w-96 bg-[#A7CBD9] hover:bg-[#A7CBD9] text-black glass"
    >
      <div class="card-body">
        <h2 class="card-title">Nama</h2>
        <p class="">Stok</p>
        <p class="">Deskripsi</p>
        <div class="card-actions justify-end">
          <button class="btn btn-error">Delete</button>
        </div>
      </div>
    </div>
    <div
      class="card w-full md:w-80 lg:w-96 bg-[#A7CBD9] hover:bg-[#A7CBD9] text-black glass"
    >
      <div class="card-body">
        <h2 class="card-title">Nama</h2>
        <p class="">Stok</p>
        <p class="">Deskripsi</p>
        <div class="card-actions justify-end">
          <button class="btn btn-error">Delete</button>
        </div>
      </div>
    </div>
    <div
      class="card w-full md:w-80 lg:w-96 bg-[#A7CBD9] hover:bg-[#A7CBD9] text-black glass"
    >
      <div class="card-body">
        <h2 class="card-title">Nama</h2>
        <p class="">Stok</p>
        <p class="">Deskripsi</p>
        <div class="card-actions justify-end">
          <button class="btn btn-error">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <!-- akhir konten -->
</div>
<!-- prettier-ignore -->
{% include 'prizeBottomNavAdmin.html' %} 
{% endblock content %}
