<!-- prettier-ignore -->
{% extends 'base.html' %} 
{% load static %} 
{% block meta %}
<title>Hello, prize!</title>
<script>
  function show(data) {
    tab = ``;

    for (let r of data) {
      tab += `
      <div
  class="card w-full md:w-80 lg:w-96 bg-[#A7CBD9] hover:bg-[#A7CBD9] text-black glass"
>
  <div class="card-body">
    <h2 class="card-title">${r.fields.nama}</h2>
    <p class="">${r.fields.stok}</p>
    <p class="">${r.fields.poin}</p>
    <p class="">${r.fields.desc}</p>
    <div class="card-actions justify-end">
      <button class="btn btn-error" onclick={delData(${r.pk})}>Delete</button>
    </div>
  </div>
</div>
    `;
    }

    console.log("show");
    document.getElementById("table").innerHTML = tab;
  }

  function loadData() {
    $.get("{% url 'admin_page:get_prize' %}", function (data) {
      show(data);
    });
  }

  $(document).ready(function () {
    loadData();
  });

  $(document).on("submit", "#buatproject", function (e) {
    e.preventDefault();
    $.ajax({
      type: "POST",
      url: "{% url 'admin_page:add_prize' %}",
      data: {
        nama: $("#id_nama").val(),
        poin: $("#id_poin").val(),
        stok: $("#id_stok").val(),
        desc: $("#id_desc").val(),
        csrfmiddlewaretoken: "{{ csrf_token }}",
      },
      dataType: "json",
      success: function (data) {
        loadData();
        document.getElementById("id_nama").value = "";
        document.getElementById("id_poin").value = "";
        document.getElementById("id_stok").value = "";
        document.getElementById("id_desc").value = "";
        console.log(data);
        $.toast({
          text: data.instance,
          showHideTransition: "fade", // It can be plain, fade or slide
          bgColor: "#23B65D", // Background color for toast
          textColor: "#eee", // text color
          allowToastClose: false, // Show the close button or not
          hideAfter: 2000, // `false` to make it sticky or time in miliseconds to hide after
          stack: 5, // `fakse` to show one stack at a time count showing the number of toasts that can be shown at once
          textAlign: "left", // Alignment of text i.e. left, right, center
          position: "bottom-right", // bottom-left or bottom-right or bottom-center or top-left or top-right or top-center or mid-center or an object representing the left, right, top, bottom values to position the toast on page
        });
      },
    });
  });

  function delData(id) {
    $.ajax({
      type: "POST",
      url: `del/${id}`,
      data: { csrfmiddlewaretoken: "{{ csrf_token }}" },
      dataType: "json",
      success: function () {
        loadData();
        $.toast({
          text: "Prize dihapus",
          showHideTransition: "fade", // It can be plain, fade or slide
          bgColor: "#E01A31", // Background color for toast
          textColor: "#eee", // text color
          allowToastClose: false, // Show the close button or not
          hideAfter: 2000, // `false` to make it sticky or time in miliseconds to hide after
          stack: 5, // `fakse` to show one stack at a time count showing the number of toasts that can be shown at once
          textAlign: "left", // Alignment of text i.e. left, right, center
          position: "bottom-right", // bottom-left or bottom-right or bottom-center or top-left or top-right or top-center or mid-center or an object representing the left, right, top, bottom values to position the toast on page
        });
      },
    });
  }
</script>
<!-- prettier-ignore -->
{% endblock meta %} 
{% block content %}
{% include 'adminNavbar.html' %}
<div>
  <!-- bikin konten disini -->
  <div
    class="p-5 flex space-x-4 md:justify-between w-full flex-col md:flex-row space-y-2 items-center justify-center"
  >
    <p class="text-4xl text-center">Prize List</p>
    <button
      class="btn btn-wide bg-[#F0F1AB] glass hover:bg-[#F0F1AB] text-black"
    >
      <label
        for="my-modal-4"
        class="w-full h-full flex items-center justify-center cursor-pointer"
        >Add</label
      >
    </button>
  </div>
  <div
    class="px-5 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 place-items-center gap-5 pb-32 md:pb-5"
    id="table"
  ></div>
  <!-- akhir konten -->
  <div>
    <input type="checkbox" id="my-modal-4" class="modal-toggle" />
<label for="my-modal-4" class="modal cursor-pointer">
  <label class="modal-box relative" for="">
    <label for="my-modal-4" class="btn btn-sm btn-circle absolute right-2 top-2"
      >✕</label
    >
    <h3 class="text-lg font-bold">Tambah Prize</h3>
    <form action="" id="buatproject">
      {% csrf_token %}
      <div class="form-control w-full mb-5 mt-5">
        <label class="label">
          <span class="label-text">Nama / Judul</span>
        </label>
        {{ form.nama }}
        <!-- <input
          required
          type="text"
          placeholder="Masukan nama hadiah"
          class="input input-bordered w-full"
          id="nama"
        /> -->
      </div>
      <div class="form-control w-full mb-5">
        <label class="label">
          <span class="label-text">Poin</span>
        </label>
        {{ form.poin }}
        <!-- <input
          required
          type="number"
          placeholder="Masukan poin"
          class="input input-bordered w-full"
          id="poin"
        /> -->
      </div>
      <div class="form-control w-full mb-5">
        <label class="label">
          <span class="label-text">Stok</span>
        </label>
        {{ form.stok }}
        <!-- <input
          required
          type="number"
          placeholder="Tentukan stok"
          class="input input-bordered w-full"
          id="stok"
        /> -->
      </div>
      <div class="form-control w-full mb-5">
        <label class="label">
          <span class="label-text">Deskripsi</span>
        </label>
        {{ form.desc }}
        <!-- <textarea class="textarea textarea-bordered" placeholder="Deskripsi" id="desc" required></textarea> -->

      <div class="w-full flex justify-end">
        <button
          class="btn btn-active btn-primary modal-action"
          type="submit"
          id="button"
        >
          <label
            for="my-modal-4"
            class="w-full h-full flex items-center justify-center cursor-pointer"
            >Submit</label
          >
        </button>
      </div>
    </form>
  </label>
</label>
  </div>
</div>

<!-- prettier-ignore -->
{% include 'prizeBottomNavAdmin.html' %} 
{% endblock content %}
