<!-- prettier-ignore -->
{% extends 'base.html' %} 
{% load static %} 
{% block meta %}
<title>Hello, Deposit!</title>
<script src="{% static 'js/index_deposit_admin.js' %}"></script>
<!-- prettier-ignore -->
{% endblock meta %} 
{% block content %}
{% include 'adminNavbar.html' %}
<div>
  <!-- bikin konten disini -->
  <div
    class="p-5 flex space-x-4 md:justify-between w-full flex-col md:flex-row space-y-2 items-center justify-center"
  >
    <p class="text-4xl text-center">Deposit Approval</p>
    <button
      class="btn btn-wide bg-[#F0F1AB] glass hover:bg-[#F0F1AB] text-black"
    >
      <label
        for="my-modal-4"
        class="w-full h-full flex items-center justify-center cursor-pointer"
        >Add</label
      >
    </button>
  </div>
  <div
    class="px-5 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 place-items-center gap-5 pb-32 md:pb-5"
    id="table"
  ></div>
  <!-- akhir konten -->
</div>

<input type="checkbox" id="my-modal-4" class="modal-toggle" />
<label for="my-modal-4" class="modal cursor-pointer">
  <label class="modal-box relative" for="">
    <label for="my-modal-4" class="btn btn-sm btn-circle absolute right-2 top-2"
      >✕</label
    >
    <h3 class="text-lg font-bold">Tambah Deposit</h3>
    <form action="" id="buatproject">
      {% csrf_token %}
      <div class="form-control w-full mt-5">
        <label class="label">
          <span class="label-text">User</span>
        </label>
        <select class="select select-bordered w-full" id="user">
          <option disabled selected>Pilih User</option>
          {% for r in users %}
          <option>{{r.user.username}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-control w-full mt-5">
        <label class="label">
          <span class="label-text">Jenis Sampah</span>
        </label>
        {{ form.jenisSampah }}
        <!-- <select class="select select-bordered w-full" id="jenisSampah">
          <option disabled selected>Pilih Jenis Sampah</option>
          <option value="PLASTIK">Plastik</option>
          <option value="ELEKTRONIK">Elektronik</option>
        </select> -->
      </div>
      <div class="form-control w-full mb-5">
        <label class="label">
          <span class="label-text">Berat Total</span>
        </label>
        {{ form.beratSampah }}
        <!-- <input
          type="number"
          placeholder="Satuan KG"
          class="input input-bordered w-full"
          id="beratSampah"
        /> -->
      </div>
      <div class="w-full flex justify-end">
        <button
          class="btn btn-active btn-primary modal-action"
          type="submit"
          id="button"
        >
          <label
            for="my-modal-4"
            class="w-full h-full flex items-center justify-center cursor-pointer"
            >Submit</label
          >
        </button>
      </div>
    </form>
  </label>
</label>
<!-- prettier-ignore -->
{% include 'depositBottomNavAdmin.html' %} 
{% endblock content %}
