<!-- prettier-ignore -->
{% extends 'base.html' %} 
{% load static %} 
{% block meta %}
<title>Hello, user dashboard!</title>
<!-- prettier-ignore -->
{% endblock meta %} 
{% block content %}
{% include 'userNavbar.html' %}
<div class="min-h-screen sm:pb-0">
  <div class="hero min-h-screen pb-20 sm:pb-0 bg-base-200">
    <div class="hero-content flex-col lg:flex-row">
      <img src="{% static 'bin.png' %}" />
      <div>
        <h1 class="text-5xl font-bold">Box Office News!</h1>
        <p class="py-6">
          Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
          excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a
          id nisi.
        </p>
        <div class="flex flex-col xl:flex-row gap-5">
          <div class="card w-full xl:w-96 bg-[#7E93BE] text-black glass">
            <div class="card-body">
              <h2 class="card-title">Saldo</h2>
              <p class="font-bold">0</p>
            </div>
          </div>
          <div class="card w-full xl:w-96 bg-[#A7CBD9] text-black glass">
            <div class="card-body">
              <h2 class="card-title">Poin</h2>
              <p class="font-bold">0</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- prettier-ignore -->
{% include 'dashboardBottomNav.html' %} 
{% endblock content %}
